body {
    margin: 0;
    font-family: Arial, Verdana, sans-serif;
    overflow: auto;
    background-color: rgb(45, 62, 121);
    color: white;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 40px;
    font-weight: normal;
}

p {
    line-height: 150%;
    font-size: 17px;
}

img {
    display: block;
    width: 100%
}

* {
    box-sizing: border-box;
}

.header {
    background-color: rgb(125, 84, 152);
    height: 60px;
    position: fixed;
    width: 100%;
    top: 0;
    padding-left: 45px;
}

/* header hover hentet fra w3school */

.header a {
    float: left;
    display: block;
    text-align: center;
    padding: 18px 18px;
    font-size: 20px;
    color: rgb(255, 253, 231);
    text-decoration: none;
}

.header a:hover {
    background: #ddd;
    color: black;
}

.logo-container {
    width: 50px;
    float: left;
    margin-right: 18px;
    margin-top: 5px;
}

.main {
    margin-top: 60px;
}

/* Bilde fra unsplash: https://images.unsplash.com/photo-1532798369041-b33eb576ef16 */

.top-container {
    background-image: url(img/bubbles.jpg);
    background-size: cover;
    height: 600px;
    background-position: center;
    padding-top: 100px;
}

.citrus-galaxy {
    color: rgb(4, 61, 120);
    width: 25%;
    padding-left: 4%;
    padding-top: 2%;
    float: left;
}

.mission {
    padding: 13%;
    font-size: 20px;
    font-style: italic;
}

.top-center {
    width: 50%;
    float: right;
    margin-right: 25%;
}

.stand-in-video {
    border-style: solid;
    border-width: 10px;
    border-color: rgb(85, 78, 86);
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.middle-container {
    float: left;
    width: 100%;
}

.image-container-orange {
    width: 50%;
    float: left;
}

.history-container {
    width: 50%;
    float: right;
    padding: 4% 10% 0 10%;
    color: rgb(255, 253, 231);
}

.botom-container {
    float: left;
    width: 100%;
}

.contact {
    float: left;
    width: 50%;
    padding: 4% 10% 0 10%;
    color: rgb(255, 253, 231);
    text-align: center;
    font-size: 16px;
}

.image-container-stars {
    width: 50%;
    float: right;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

@media only screen and (max-width: 1199px) {
    .history-container {
        padding: 4% 4% 0 4%;
    }
}

@media only screen and (max-width: 999px) {
    .top-container {
        padding-top: 0px;
    }
    .citrus-galaxy {
        width: 100%;
    }
    .mission {
        background-color: #d4c6e0;
        padding: 0 13%;
    }
    .history-container, .contact {
        width: 100%;
        padding: 1% 10% 4% 10%;
    }
    .image-container-orange {
        display: none;
    }
    .image-container-stars {
        width: 100%;
        max-height: 85px;
        float: left;
        overflow: hidden;
    }
    @media only screen and (max-width: 780px) {
        .top-center {
            width: 100%;
            margin: 0 auto;
        }
    }
    @media only screen and (max-width: 410px) {
        .header {
            height: 60px;
            padding-left: 20px;
        }
        .header a {
            padding: 19px 14px;
            font-size: 17px;
        }
        .logo-container {
            width: 40px;
            margin-right: 18px;
            margin-top: 5px;
        }
    }
}